# CakePHP specific files #
##########################
/config/app.php
/config/.env
/logs/*
/tmp/*
/vendor/*

# Tool specific files #
#######################
# Eclipse
.settings/*
# NetBeans
nbproject/*
